<div class="outer-dshi-edit">
  <mat-form-field>
    <mat-select placeholder="Школа, управление" (valueChange)="currentSchool = schools[$event]">
      <mat-option *ngFor="let school of schools; let idx = index" [value]="idx">
        {{ school.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card *ngIf="currentSchool">
    <mat-form-field>
      <input matInput placeholder="Наименование школы, управления" [(ngModel)]="currentSchool.title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Адрес" [(ngModel)]="currentSchool.address">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Регион, город" [value]="currentSchool.region._id"
                  (valueChange)="currentSchool.region._id = $event">
        <mat-option *ngFor="let region of regions;" [value]="region._id">
          {{ region.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group (change)="currentSchool.type = $event" [value]="currentSchool.type.toString()">
      <mat-radio-button value="0">Школа</mat-radio-button>
      <mat-radio-button value="1">Управление</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <input matInput placeholder="Сайт" [(ngModel)]="currentSchool.site">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="currentSchool.email">
    </mat-form-field>
    <div class="school-person">
      <p>Начальник, директор</p>
      <mat-form-field>
        <input matInput placeholder="Имя начальник, директора" [(ngModel)]="currentSchool.mainPerson.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Стационарный телефон" [(ngModel)]="currentSchool.mainPerson.stationary">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Мобильный телефон" [(ngModel)]="currentSchool.mainPerson.telephone">
      </mat-form-field>
    </div>
  </mat-card>
  <div style="margin-top: 20px;">
    <button mat-raised-button *ngIf="currentSchool" color="primary" (click)="update()">Изменить</button>
    <button mat-raised-button *ngIf="currentSchool" color="warn" (click)="remove()">Удалить</button>
    <button mat-raised-button color="primary" style="float: right"
            (click)="openDialog()">Добавить школу, управление</button>
  </div>
</div>
