<div class="example-container mat-elevation-z8 table outer-wrap-competitions">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск по конкурсам">
    </mat-form-field>
  </div>


  <cdk-table #table [dataSource]="dataSource" class="example-table" matSort>

    <ng-container cdkColumnDef="{{displayedColumns[0]}}">
      <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell" [style.flex]="'0 0 3.5%'"> Номер </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row;" class="example-cell" [style.flex]="'0 0 3.5%'" style="margin-left: 20px">{{row.num}}</cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="{{displayedColumns[1]}}">
      <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell" [style.flex]="'0 0 95.5%'"> Название конкурса </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="example-cell" [style.flex]="'0 0 95.5%'">{{row.title}}</cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="example-header-row"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="example-row" (click)="openCompetition(row)"></cdk-row>
  </cdk-table>

  <mat-paginator [pageSizeOptions]="[20, 50, 75, 100]"></mat-paginator>
</div>

<button mat-raised-button color="primary" style="float: right" *ngIf="isOpenEdit" (click)="newCompetitions()">Добавить конкурс</button>
