
<div class="example-container mat-elevation-z8 outer-region-edit" (odClickOutside)="close()">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
    </mat-form-field>
  </div>

  <cdk-table #table [dataSource]="dataSource" class="example-table" matSort>
    <ng-container cdkColumnDef="title">
      <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell"> Название </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell" [class.edit]="idx == currentIndex && editable">
        <div class="show">{{row.title}}</div>
        <div class="edit">
          <mat-form-field>
            <input matInput [(ngModel)]="row.title">
          </mat-form-field>
        </div>
      </cdk-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="telephone">
      <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell"> Телефонный код района, города </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell" [class.edit]="idx == currentIndex && editable">
        <div class="show">{{row.telephone}}</div>
        <div class="edit" >
          <mat-form-field>
            <input matInput [(ngModel)]="row.telephone">
          </mat-form-field>
        </div>
      </cdk-cell>
      <!--<mat-icon>input</mat-icon>-->
    </ng-container>

    <ng-container cdkColumnDef="edit">
      <cdk-header-cell *cdkHeaderCellDef class="example-header-cell" [style.flex]="'0 0 40px'"></cdk-header-cell>
      <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell" [style.flex]="'0 0 10px'"
                [class.edit]="idx == currentIndex && editable">
        <button mat-icon-button (click)="editRegion(row, idx)">
            <mat-icon class="show">edit</mat-icon>
          <mat-icon class="edit">done</mat-icon>
        </button>
      </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="delete">
      <cdk-header-cell *cdkHeaderCellDef class="example-header-cell" [style.flex]="'0 0 40px'"></cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="example-cell" [style.flex]="'0 0 10px'">
        <button mat-icon-button (click)="deleteRegion(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="example-header-row"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="example-row"></cdk-row>
  </cdk-table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
<button mat-raised-button color="primary" style="float: right; margin-top: 20px;" (click)="openDialog()">Добавить регион</button>
