<div class="outer-wrap-contacts">
  <p class="text title-input">Контакты</p>
  <p class="text">308033, Россия, Белгород, ул. Королева 7</p>
  <p class="text">телефон/факс: +7 (4722) 73-22-04</p>
  <p class="text">e-mail: rumc@bgiik.ru</p>
  <br/>
  <p class="text">Директор: <b>Белокурова Татьяна Федоровна</b>, т. 73-22-18</p>
  <p class="text">Заместитель директора: <b>Черенкова Инна Васильевна</b>, т. 73-22-04</p>
  <p class="text">Методисты, т. 73-22-04 </p>

  <mat-form-field class="input-text" style="margin-top: 20px;">
    <input matInput placeholder="Ваше имя" required [(ngModel)]="mail.name">
  </mat-form-field>

  <mat-form-field class="input-text">
    <input matInput placeholder="Ваш E-Mail адрес" required [(ngModel)]="mail.email"/>
  </mat-form-field>

  <mat-form-field class="input-text">
    <input matInput placeholder="Тема" required [(ngModel)]="mail.subject">
  </mat-form-field>

  <mat-input-container class="input-text">
    <textarea matInput  matTextareaAutosize  placeholder="Сообщение" matAutosizeMinRows="7" required [(ngModel)]="mail.text"></textarea>
  </mat-input-container>

  <button mat-raised-button color="primary" (click)="sendMessage()">Отправить</button>
</div>
