<div class="widget-box announce">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 blog-main">
        <div class="outer-wrap-news" [class.dummy]="loaded">
          <h4 class="title-news">Актуальные анонсы</h4>
          <div *ngFor="let material of actualAnnounce" class="news-container" [ngClass]="isBig ? 'col-lg-2' : 'col-lg-3'">
            <div *ngIf="userService.user?.hasModerator()" class="news-icon edit" (click)="edit(material)">
              <mat-icon>edit</mat-icon>
            </div>
            <div *ngIf="userService.user?.hasModerator()" class="news-icon remove" (click)="remove(material)">
              <mat-icon>delete forever</mat-icon>
            </div>
            <a href="/news/{{material.url}}" routerLink="/news/{{material.url}}">
              <div class="news-img-block" [ngStyle]="{'background-image': (material.preview ? 'url(\'' + material.preview + '\')' : '')}">
                <div class="news-date" *ngIf="!material.start_date">{{material.date | odDate}}</div>
                <ng-container *ngIf="material.start_date">
                  <div class="news-date">{{material.start_date | date: 'dd'}} - {{material.date | date: 'dd MMMM'}}</div>
                </ng-container>
              </div>
              <div class="form-group"><p class="news-title" [innerHTML]="material.title"></p></div>
              <!--<div class="sidebar-module sidebar-module-inset">-->
                <!--<p [innerHTML]="material.description.short_description | odSafe: 'html'"></p>-->
              <!--</div>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="widget-box announce gray">
  <div class="container">
    <div class="row" infiniteScroll (scrolled)="setPage()" [infiniteScrollDistance]="0.1">
      <div class="col-lg-12 blog-main">
        <div class="outer-wrap-news" [class.dummy]="loaded">
          <h4 class="title-news">Неактуальные анонсы</h4>
          <div *ngFor="let material of announce" class="news-container" [ngClass]="isBig ? 'col-lg-2' : 'col-lg-3'">
            <div *ngIf="userService.user?.hasModerator()" class="news-icon edit" (click)="edit(material)">
              <mat-icon>edit</mat-icon>
            </div>
            <div *ngIf="userService.user?.hasModerator()" class="news-icon remove" (click)="remove(material)">
              <mat-icon>delete forever</mat-icon>
            </div>
            <a href="/news/{{material.url}}" routerLink="/news/{{material.url}}">
              <div class="news-img-block" [ngStyle]="{'background-image': (material.preview ? 'url(\'' + material.preview + '\')' : '')}">
                <div class="news-date" *ngIf="!material.start_date">{{material.date | odDate}}</div>
                <ng-container *ngIf="material.start_date">
                  <div class="news-date">{{material.start_date | date: 'dd'}} - {{material.date | date: 'dd MMMM'}}</div>
                </ng-container>
              </div>
              <div class="form-group"><p class="news-title" [innerHTML]="material.title"></p></div>
              <!--<div class="sidebar-module sidebar-module-inset">-->
                <!--<p [innerHTML]="material.description.short_description | odSafe: 'html'"></p>-->
              <!--</div>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
