<div class="admin-edit">
  <mat-form-field style="width: 100%">
    <mat-select placeholder="История" (valueChange)="currentMaterial = materials[$event]" [value]="currentMaterial?._id">
      <mat-option *ngFor="let material of materials" [value]="material._id">
        {{material.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="outer-wrap-mainpage" *ngIf="currentMaterial">
    <div class="text">Заголовок</div>
    <od-ckeditor [(value)]="currentMaterial.title" name="editor1"></od-ckeditor>
    <div class="text">Текст</div>
    <od-ckeditor [(value)]="currentMaterial.description.description" name="editor3"></od-ckeditor>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="saveHistory(currentMaterial)">Сохранить</button>
    </div>
  </div>
</div>
