<mat-card class="outer-news-edit">
  <div mat-card-title>Добавить новость на сайт</div>
  <div mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Заголовок новости"/>
    </mat-form-field>
    <div class="img-text">Изображение на странице новостей</div>
    <div class="img-block">
      <div class="img-wrap">
        <img src="http://localhost:3001/images/logo/logo.png"/>
      </div>
      <div class="btn-block">
        <button mat-raised-button color="primary">Выбрать файл</button>
        <button mat-raised-button color="warn">Удалить</button>
      </div>
    </div>
    <div class="news-main-title">Текст новости</div>
    <div class="news-main-text">
      <ckeditor [(ngModel)]="title" [config]="config"></ckeditor>
    </div>

    <button mat-raised-button color="primary">Добавить</button>
  </div>
</mat-card>
