<div class="outer-news-edit" style="margin-top: 20px;">
  <div mat-card-title>Добавить событие на сайт</div>
  <div mat-card-content>

    <mat-form-field>
      <mat-select placeholder="Тип публикации" [(value)]="news.type">
        <mat-option [value]="1">Новость</mat-option>
        <mat-option [value]="2">Анонс</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="news.type == 2">
      <input matInput [matDatepicker]="picker" placeholder="Дата аннонса" [matDatepickerFilter]="filterDate"
             [disabled]="true" (dateChange)="news.date = $event.value">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="false" [startAt]="news.date"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Заголовок" [(ngModel)]="news.title"/>
    </mat-form-field>
    <div class="img-text"><b>Изображение события</b></div>
    <div class="img-block">
      <div class="img-wrap">
        <img *ngIf="news.img" [src]="news.img">
      </div>
      <div class="btn-block">

        <button mat-raised-button color="primary">
          <label for="fileToUpload" style="margin-bottom: 0; cursor: pointer;">Выбрать файл</label>
          <input id="fileToUpload" odImageLoad [src]="news.img" style="display: none"
                 [(file)]="imgFile" type="file" (change)="loadLogoFile()">
        </button>
        <button mat-raised-button color="warn">Удалить</button>
      </div>
    </div>

    <div class="news-main-title"><b>Краткое описание</b></div>
    <div class="news-main-text">
      <od-ckeditor [(value)]="news.description.short_description" name="editor1"></od-ckeditor>
    </div>

    <div class="news-main-title"><b>Текст новости</b></div>
    <div class="news-main-text">
      <od-ckeditor [(value)]="news.description.description" name="editor2"></od-ckeditor>
    </div>

    <div class="news-main-title"><b>Фотографии галлереи</b></div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

    <button mat-raised-button color="primary">
      <label for="fileToUpload2" style="margin-bottom: 0; cursor: pointer;">Добавить файл в галлерею</label>
      <input id="fileToUpload2" odImageLoad style="display: none"
             [(file)]="imgFile" type="file" (change)="loadGalleryFile()">
    </button>
    <br/>

    <button mat-raised-button color="primary" (click)="saveNews()" *ngIf="!news._id">Добавить</button>
    <button mat-raised-button color="primary" (click)="saveNews()" *ngIf="news._id">Изменить</button>
  </div>
</div>
