<div class="outer-children-edit col-lg-12">
  <mat-form-field class="col-lg-6">
    <mat-select placeholder="Район" [disabled]="userService.user?.role !== 5" (valueChange)="selectedRegion($event)" [value]="currentRegion">
      <mat-option *ngFor="let region of regions; let idx = index" [value]="idx">{{ region.title }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-lg-6">
    <mat-select placeholder="Школа" [disabled]="userService.user?.role !== 5 || currentRegion < 0" (valueChange)="selectedSchools($event)" [value]="currentSchool">
      <mat-option *ngFor="let school of schools; let idx = index" [value]="idx">{{ school.title }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="example-container mat-elevation-z8 outer-region-edit table" *ngIf="currentSchool >= 0" (odClickOutside)="close()">

    <cdk-table #table [dataSource]="dataSource" class="example-table" matSort>
      <ng-container cdkColumnDef="id">
        <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell"> № </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell">{{idx + 1}}</cdk-cell>
      </ng-container>

      <ng-container cdkColumnDef="surname">
        <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell"> Фамилия </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell">{{row.surname}}</cdk-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container cdkColumnDef="name">
        <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell"> Имя </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell">{{row.name}}</cdk-cell>
      </ng-container>

      <ng-container cdkColumnDef="middleName">
        <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell"> Отчество </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell">{{row.middleName}}</cdk-cell>
      </ng-container>

      <ng-container cdkColumnDef="rating">
        <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="example-header-cell"> Рейтинг (баллы) </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row; let idx = index" class="example-cell">{{row.rating}}</cdk-cell>
      </ng-container>

      <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="example-header-row"></cdk-header-row>
      <cdk-row *cdkRowDef="let row; columns: displayedColumns;" [routerLink]="'/admin/edit/children/edit/' + row._id" class="example-row"></cdk-row>
    </cdk-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>

  <div class="group-button-right">
    <button mat-raised-button [routerLink]="'/admin/edit/children/add'" color="primary">Добавить одаренного ребенка</button>
  </div>
</div>
