<header>
  <div class="img_block">
    <img src="/images/logo/main.png"/>
  </div>
  <div class="inner_text">
    <div class="top">
      <p>Белгородский портал дополнительного образования | система поиска и поддержки молодых талантов</p>
    </div>
    <nav class="bottom">
      <a href="/" routerLink="/">Главная</a>
      <a href="/" routerLink="/">О портале</a>
      <a href="/" routerLink="/">Новости</a>
      <a href="/" routerLink="/">Конкурсы</a>
      <a href="/" routerLink="/">Участники</a>
      <a href="/" routerLink="/">Призы</a>
      <a href="/" routerLink="/">Блоги</a>
    </nav>
  </div>
  <div class="login">
    <p>Личный кабинет</p>
  </div>
</header>
<div class="outer_wrap_main">

</div>
