<header>
  <div class="img_block">
    <img src="/images/logo/main.png"/>
  </div>
  <div class="inner_text">
    <p class="cap">Управление культуры Белгородской области</p>
    <p class="cap">Белгородский государственный институт искусств и культуры</p>
    <p class="cap">Региональный учебно-методический центр по художественному образованию</p>
    <p class="title">Одаренные дети Белгородской области</p>
    <nav class="bottom">
      <a href="/" routerLink="/" class="nav">Главная</a>
      <a href="/schools" routerLink="/schools" class="nav">ДШИ Белгородской области</a>
      <a href="/news" routerLink="/news" class="nav">Новости</a>
      <a href="/" routerLink="/" class="nav">Конкурсы</a>
      <a href="/" routerLink="/" class="nav">Банк данных одаренных детей</a>
      <a href="/" routerLink="/" class="nav">Фотогаллерея</a>
      <a href="/" routerLink="/" class="nav">Контакты</a>
    </nav>
  </div>
</header>
<div class="outer_wrap_main">
  <router-outlet></router-outlet>
</div>
