<div class="page">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse container" id="navbarCollapse" style="text-transform: none;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/news" routerLink="/news">Новости</a></li>
          <li class="nav-item dropdown" (mouseover)="historyShow = true" (mouseleave)="historyShow = false">
            <a class="nav-link">История</a>
            <div class="dropdown-menu" [class.show]="historyShow">
              <a class="dropdown-item" routerLink="/history/rumc">Роль РУМЦ в развитии ДШИ области</a>
              <a class="dropdown-item" routerLink="/history/fortepiano">Развитие специализации "фортепиано"</a>
              <a class="dropdown-item" routerLink="/history/narodnie-instrumenty">Развитие специализации "народные инструмента"</a>
              <a class="dropdown-item" routerLink="/history/dyhovie-instrumenty">Развитие специализации "духовые инструменты"</a>
              <a class="dropdown-item" routerLink="/history/strynnie-smichkovie-instrumenty">Развитие специализации "струнные смычковые инструменты"</a>
              <a class="dropdown-item" routerLink="/history/folklor">Развитие специализации "фольклор"</a>
              <a class="dropdown-item" routerLink="/history/horovoe-penie">Развитие специализации "хоровое пение"</a>
              <a class="dropdown-item" routerLink="/history/izobrazitelnoe-iskusstvo">Развитие специализации "изобразительное искусство"</a>
              <a class="dropdown-item" routerLink="/history/horeografia">Развитие специализации "хореография"</a>
              <a class="dropdown-item" routerLink="/history/teatralnoe-iskusstvo">Развитие специализации "театральное искусство"</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/competition" routerLink="/competition"
          routerLinkActive="active">Конкурсы</a></li>
          <li class="nav-item"><a class="nav-link" href="/bank-data-od" routerLink="/bank-data-od"
                                  routerLinkActive="active">Одаренные дети</a></li>
          <li class="nav-item"><a class="nav-link" href="/galleries" routerLink="/galleries"
                                  routerLinkActive="active">Фотогалерея</a></li>
          <li class="nav-item dropdown" (mouseover)="historyAddress = true" (mouseleave)="historyAddress = false">
            <a class="nav-link">Адреса</a>
            <div class="dropdown-menu" [class.show]="historyAddress">
              <a class="dropdown-item" href="/address/administration" routerLink="/address/administration">Муниципальные управления культуры</a>
              <a class="dropdown-item" href="/address/schools" routerLink="/address/schools">Детские школы искусств</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/contacts" routerLink="/contacts"
                                  routerLinkActive="active">Контакты</a></li>
        </ul>
        <od-profile></od-profile>
      </div>
    </nav>
  </header>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="img-block">
            <div class="img-wrap">
              <img src="/images/logo/logo.png"/>
            </div>
            <div class="btn-block">
              <div class="block-logo">Одаренные дети Белгородской области</div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <p>Управление культуры Белгородской области</p>
          <p>Белгородский государственный институт искусств и культуры</p>
          <p>Региональный учебно-методический центр по художественному образованию</p>
        </div>
        <div class="col-md-1 img-wrap">
          <img src="/images/logo/logo-bgik.png"/>
        </div>
      </div>
    </div>
  </div>
  <mat-card class="outer_wrap_main">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <router-outlet></router-outlet>
        </div>
        <aside class="col-sm-4 ml-sm-auto blog-sidebar">
          <od-announce></od-announce>
        </aside>
      </div>
    </div>
  </mat-card>
  <footer class="footer">
    <div class="container" style="margin-top: 10px;">
      <span
        class="text-muted">© 2009-2017 Региональный учебно-методический центр по художественному образованию БГИИК</span>
    </div>
  </footer>
</div>











