.admin-edit {
  .mat-tab-body-wrapper {
    padding-top: 10px;
  }

  .mat-tab-body-content {
    background-color: #fff;
    padding: 10px;
    //border-radius: 50px 50px;
    height: inherit;
  }

  hr {
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .text {
    margin-top: 20px;
    font-weight: bold;
    display: block;
    color: rgba(0,0,0,.87);;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .outer-wrap-mainpage {
    margin-top: 15px!important;
    //background-color: rgba(202, 202, 202, 0.38);
  }

  .button-row {
    margin-top: 20px;
  }
}
