.outer-wrap-auth {
  background-color: #ffffff;
  border-radius: 50px 50px;
  padding-left: 40px;
  padding-right: 40px;
  flex-flow: column nowrap;

  .input-text {
    display: block;
  }

  .title-input {
    color: royalblue;
    text-transform: uppercase;
    text-shadow: $text 1px 1px 0;
    font-weight: bold;
  }

  .select-text {
    display: inline-block;
    margin-right: 20px;
    color: #554bd4;
    font-weight: bold;
    font-size: 20px;
  }
}
