.outer-wrap-competitions {
  margin-top: 20px;
  mat-form-field {
    width: 100%;
  }

  .date-block {
    label {
      display: block;
    }
    mat-form-field {
      width: auto;
    }
  }

  mat-card {
    [mat-dialog-title] {
      text-align: center;
    }
  }
}
