.outer-edit {
  .mat-tab-link {
    min-width: 25px !important;
  }

  .mat-tab-link.mat-tab-label-active {
    min-width: 25px !important;
  }
}

.outer-region-edit, .table {

  &.dummy {
    cdk-header-row > cdk-header-cell:nth-child(1), cdk-header-cell:nth-child(2) {
      background-color: #F0F0F0;
      color: #F0F0F0;
    }

    cdk-row > cdk-cell:nth-child(1), cdk-cell:nth-child(2) {
      background-color: #F0F0F0;
      color: #F0F0F0;
    }
  }

  &.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-table {
    flex: 1 1 auto;
    //max-height: 500px;
    padding: 0 24px;
  }

  .example-header-row, .example-row {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    height: 32px;
    padding: 0 8px;
  }

  .example-cell, .example-header-cell {
    flex: 1;
  }

  .example-header-cell {
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
  }

  .example-cell {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .example-header .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  cdk-cell {
    .show {
      display: inline-block;
    }
    .edit {
      display: none;
    }

    &.edit {
      .edit {
        display: inline-block;
      }
      .show {
        display: none;
      }
    }
  }

}
