.outer-wrap-gallery {

  .card {
    float: left;
    width: 20%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }

  .card:hover {
    background-color: gainsboro;
    cursor: pointer;
  }

  .card > img {
    margin-bottom: .75rem;
  }

  .card-text {
    font-size: 85%;
  }
}
