header {
  a {
    cursor: pointer;
  }

  height: 43px;
  //background-image: url('/images/fon/header.jpg');
  //background-size: cover;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  flex: 0 0 auto;

  .bg-dark {
    background-color: #EBEAE6 !important;
  }

  div > ul > li {
    &:hover {
      background-color: darkgray;

      > a {
        color: white !important;
      }
    }

    > a {

      padding-left: 1.6rem !important;
      padding-right: 1.6rem !important;
      text-align: center !important;
    }
  }

  od-profile {
    li > a {
      padding-left: .2rem !important;
      padding-right: .2rem !important;
      &.separator {
        padding-right: .3rem !important;
        padding-left: .3rem !important;
        cursor: default;
      }
    }
  }

  ul {
    li {
      .dropdown-menu {
        margin: 0 !important;
        background-color: darkgray !important;
        box-shadow: 56px 41px 54px -12px rgba(0,0,0,0.2);
        border: 0;
        border-radius: 0;
        padding: 0;
        > a {
          color: white !important;
          &:hover {
            color: #484B50 !important;
            background-color: #EBEAE6;
          }
        }
      }

      a, span {
        color: #484B50 !important;
        font-weight: bold !important;
        font-family: 'roboto_lt', Arial, Helvetica, sans-serif !important;
      }
    }
  }

  .login {
    margin-top: 4%;
    text-transform: capitalize;
    margin-left: 2%;
    position: relative;
    color: #1e61ac;
    text-shadow: #1e61ac 1px 1px 0;

    .icon-center {
      display: inline-block;
      position: absolute;
      left: -30px;
      top: 5px;
    }

    a:visited, a:link {
      color: #1e61ac;
      text-shadow: #1e61ac 1px 1px 0;
    }

    a {
      text-decoration: none;
    }
  }

  .img-block {
    margin-left: 3%;
    margin-top: 0.5%;
    left: -12px;
    height: $header_height;
    width: $header_height + 70px;
    position: relative;
  }

  .img-block-bgiik {
    margin-top: 1.5%;
    left: -35px;
    height: $header_height;
    width: $header_height * 0.3;
    position: relative;
  }

  .inner-text {
    height: $header_height;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    text-align: center;

    .bottom {
      display: flex;
      margin-bottom: 50px;

      align-items: center;
      flex-flow: row nowrap;
      justify-content: stretch;

      a {
        text-decoration: none;
      }

      .nav {
        color: #1e61ac;
        &:visited, &:link, &:active {
          color: #1e61ac;
        }
        &:hover {
          color: $accent;
        }
        z-index: 1;
        max-width: 14%;
        margin: 20px auto 0;
        font-size: 13px;
        font-weight: 900;
        text-shadow: #0595d8 1px 1px 0;
      }
    }

    .cap {
      &:first-child {
        margin-top: 25px;
      }
      font-size: 10px;
      margin: 2px;
      color: black;
      font-weight: bold;
      line-height: inherit;
    }

    .title {
      $titleColor: rgba(249, 163, 1, 0.98);;
      font-size: 30px;
      color: rgba(249, 1, 68, 0.98);
      font-weight: 700;
      font-family: "Century", Cursive, serif;
      text-shadow: rgba(249, 1, 68, 0.98) 1px 1px 0, $titleColor 2px 2px 0,
      $titleColor 3px 3px 0, $titleColor 4px 4px 0,
      $titleColor 5px 5px 0;
    }

  }

  #navbarCollapse > ul {
    text-transform: uppercase;
  }

}
