$height: 250px;

mat-card {
  &.outer_wrap_main {
    flex: 1 0 auto;
    padding-top: 30px;
    //padding-left: 200px;
    //padding-right: 150px;
    p {
      line-height: 1.2!important;
      font-family: "Courier New", Courier, monospace!important;
      span, font {
        font-family: "Courier New", Courier, monospace!important;
      }
    }
  }

  h4 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "noto_sans", sans-serif;
    color: #484B50;
    text-transform: uppercase;
    text-decoration: none;
  }

  .announce-icon {
    position: absolute;
    right: -28px;
    cursor: pointer;

    &.edit {
      top: 0;
    }

    &.remove {
      top: 30px
    }
  }

  .announce-text {
    min-height: 150px;
  }

  .announce-container {
    position: relative;
    text-align: justify;
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;

    &:hover {
      box-shadow: 0 42px 36px -20px rgba(0,0,0,0.2);
      transform: translateY(-10px);
    }
  }

  .announce-date {
    position: absolute;
    display: block;
    opacity: .8;
    background-color: #d92127;
    border-radius: 0;

    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }

  .sidebar-module {
    &.dummy {
      a > div {
        background-color: #F0F0F0;
        color: #F0F0F0;
        height: 50px;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }

  p > b {
    //text-transform: uppercase;
  }

  @media (min-width: 576px) {
    .col-sm-4 {
      max-width: 30%;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1300px;
    }
  }
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 0 0.5rem !important;
    margin-bottom: 0!important;
    p {
      font-weight: bold;
      text-align: right;
    }

    .col-md-5 {
      margin-top: 20px;
      p {
        line-height: 25px;
        margin-bottom: 10px!important;
      }
    }

    .container {
      height: 180px!important;
    }

    background-color: #f1f1f1!important;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    max-width: 47% !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

.jumbotron {
  .img-block {
    display: flex;
    .img-wrap {
      width: $height;
      img {
        width: $height;
      }
    }

    .btn-block {
      margin-left: 40px;
      button {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .block-logo {
        width: 305px;
        margin-top: 15px;
        text-align: center;
        line-height: 45px;
        text-shadow: darkgray 1px 1px;
        font-family: "pt_sans_narrowbold", serif;
        color: #787878;
        text-decoration: none;
        font-size: 33px;
        text-transform: uppercase;
      }
    }
  }
}

.right {
  text-align: right;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  padding: 0!important;
}

p, ul, ol {
  font-size: 16px;
  line-height: 28px;
  color: $text;
}

button:focus, a:focus {
  outline: none!important;
  border: none!important;
}

.cke_textarea_inline {
  border: 1px solid rgba(0,0,0,.15)
}
