$height: 180px;

.widget-box {
  &.gray{
    background-color: $gray;
  }
  padding-bottom: 20px;
  padding-top: 10px;
  .mat-card {
    padding: 10px 0 0 0;
  }
}

.container {
  .row {

    padding-left: 24px;
    padding-right: 24px;
  }
}

.outer-wrap-main {
  .all-link{
    display: inline-block;
    font-size: 1.375em;
    color: $black;
    @include link-line($mainText);
    &:hover{
      color: $hover;
      text-decoration: none;
    }
  }

  margin-top: 24px;
  flex: 1 0 auto;
  //padding-left: 200px;
  //padding-right: 150px;
  p {
    line-height: 1.4!important;
    //font-family: "Courier New", Courier, monospace!important;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif!important;
    span, font {
      //font-family: "Courier New", Courier, monospace!important;
      font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif!important;
    }
  }

  h4 {
    margin-bottom: 20px;
    text-align: center;
    color: $mainText;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .announce-icon {
    position: absolute;
    right: -28px;
    cursor: pointer;

    &.edit {
      top: 0;
    }

    &.remove {
      top: 30px
    }
  }

  .announce-text {
    min-height: 150px;
  }

  .announce-container {
    position: relative;
    text-align: justify;
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;

    &:hover {
      box-shadow: 0 42px 36px -20px rgba(0,0,0,0.2);
      transform: translateY(-10px);
    }
  }

  .announce-date {
    position: absolute;
    display: block;
    opacity: .8;
    background-color: #d92127;
    border-radius: 0;

    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }

  .sidebar-module {
    &.dummy {
      a > div {
        background-color: #F0F0F0;
        color: #F0F0F0;
        height: 50px;
      }
    }
  }

  p > b {
    //text-transform: uppercase;
  }

  @media (min-width: 576px) {
    .col-sm-4 {
      max-width: 30%;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 2800px !important;
  }
}

.title-text {
  color: $mainTextTheme;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 0.5rem 0 0.5rem !important;
    margin-bottom: 0!important;
    p {
      //font-weight: bold;
      text-align: right;
    }

    .col-md-5 {
      margin-top: 20px;
      p {
        line-height: 25px;
        margin-bottom: 10px!important;
      }
    }

    //.container {
    //  height: 140px!important;
    //}

    background-color: $main!important;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    max-width: 47% !important;
  }
}

.jumbotron {
  .btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .block-logo {
      font-family: "pt_sans_narrowbold", serif;
      color: $mainTextTheme;
      text-decoration: none;
      font-size: 33px;
      text-transform: uppercase;
    }
  }
  .title-text {
    //margin: 2px;
    margin-top: 10px;
    line-height: normal;
  }
  .img-block {
    display: flex;
    .img-wrap {
      width: $height;
      img {
        width: $height;
      }
    }

    .btn-block {
      margin-left: auto;
      margin-right: auto;
      transform: translate(50%, 0);

      button {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .block-logo {
        width: 305px;
        margin-top: 15px;
        text-align: center;
        line-height: 45px;
        //text-shadow: white 1px 1px;
        font-family: "pt_sans_narrowbold", serif;
        color: $mainTextTheme;
        text-decoration: none;
        font-size: 33px;
        text-transform: uppercase;
      }
    }
  }
}

.right {
  text-align: right;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  padding: 0!important;
}

@media (max-width: $od-small-block) {
  p, ul, ol, a {
    font-size: 12px;
    line-height: 20px;
  }
}


p, ul, ol, a {
  line-height: 28px;
  color: $text;
}

button:focus, a:focus {
  outline: none!important;
  border: none!important;
}

.cke_textarea_inline {
  border: 1px solid rgba(0,0,0,.15)
}

a {
  color: $mainText!important;
}
a:hover {
  color: $main!important;
  text-decoration: none!important;
}
