.outer-wrap-mainpage {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 50px 50px;
  padding: 20px;
  text-align: justify;

  p {
    text-indent: 20px;
  }

  .title {
    text-align: center;
    color: $red;
    font-size: 20px;
    font-weight: 900;
    p {
      margin: 0;
    }
  }
}
.carousel-wrapper {
  border-radius: 50px 50px;
}
