.outer-wrap-schools {
  background: white;
  padding: 5px;
  border: 2px solid lightgray;
  border-radius: 10%;

  .title {
    text-align: center;
    color: $red;
    font-size: 20px;
    font-weight: 900;
  }

  .left {
    display: inline-block;
    padding-right: 20px;
  }

  .line {
    width: 1px;
    background-color: darkgray;
  }

  .inner-wrap-schools {
    display: flex;
    justify-content: space-between;
  }

  ul {
    li {
      cursor: pointer;
    }
  }
}
