.outer-wrap-schools {
  mat-card {
    margin-bottom: 15px;
    text-align: center;
  }

  .mat-card-title {
    margin-bottom: 0;
  }

  [mat-card-content] {
    font-style: italic;
  }

  .mat-form-field-infix {
    width: 100%;
  }

  .school-mainperson {
    text-align: left;
    margin-top: 20px;
  }
}
