$header_height: 200px;

$white: #fff;
$veryLightBlue: #dfecff;
$linkBlue: #73adff;
$linkBlueHover: #4f98ff;
$normalText: #DFECFF;
$green: #43b85b;
$softGreen: #68c67b;
$updGreen: #2C7F3D;
$orange: #fa963e;
$lightOrange: #faaa63;
$red: #fe4b4b;
$salmon: #fe6e6e;
$darkBlueGrey: #17133c;
$dark: #151c34;
$mainColor: #233056;
$mainBackgr: #1c2644;
$black: #0d1221;
$accent: #52709c;
$accentBright: #748caf;
$semi: #4f5977;
$blueGray: #768ba9;

$textNav: #0d3cf1
