@import "variables";
@import "header";
@import "footer";
@import "index";
@import "mainpage";
@import "schools";
@import "auth";
@import "contacts";
@import "admin-edit";
@import "edit-region";
@import "schools-edit";
@import "news-edit";
@import "news";
@import "/indigo-pink.css";

img {
  width: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  //background: url(/images/fon/main.jpg) repeat-y 0 0;
  background-size: cover;
}
