@import "variables";
@import "header";
@import "footer";
@import "index";
@import "mainpage";
@import "schools";

img {
  width: inherit;
}

body {
  margin: 0;
  background: url(/images/logo/main_fon_2.jpg) repeat-y 0 0;
  background-size: cover;
}
