@import "variables";
@import "header";
@import "footer";
@import "index";
@import "mainpage";
@import "schools";
@import "auth";

@import "/indigo-pink.css";

img {
  width: inherit;
}


html, body {
  height: 100%;
  margin: 0;
  background: url(/images/logo/main_fon_2.jpg) repeat-y 0 0;
  background-size: cover;
}
