<div class="widget-box">
  <div class="container">
<!--    <ng-container *ngIf="userService.user">-->
    <ng-container>
    <div class="form-group btn-block">
      <a routerLink="/children/entrant" *ngIf="userService.user?.hasAccessMaterial()" class="bold btn-block">Информация об абитуриентах</a>
      <a routerLink="/admin/edit/children" *ngIf="userService.user?.hasKoordinator()" class="bold btn-block">Редактировать банк данных</a>
    </div>
    <mat-form-field class="col-lg-3">
      <mat-select placeholder="Район" (valueChange)="selectedRegion($event)" [value]="currentRegion">
        <mat-option [value]="-1"> все </mat-option>
        <mat-option *ngFor="let region of regions; let idx = index" [value]="idx">{{ region.title }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-3">
      <mat-select placeholder="Школа" [disabled]="currentRegion < 0" (valueChange)="selectedSchools($event)" [value]="currentSchool">
        <mat-option [value]="-1"> все </mat-option>
        <mat-option *ngFor="let school of schools; let idx = index" [value]="idx">{{ school.title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-3">
      <mat-select placeholder="Специализация" (valueChange)="selectedSpecialization($event)" [value]="currentSpecialization">
        <mat-option [value]="-1"> все </mat-option>
        <mat-option *ngFor="let specialization of specializations; let idx = index" [value]="idx">
          {{specialization.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-3">
      <mat-select placeholder="Инструмент" [disabled]="currentSpecialization < 0" (valueChange)="selectedInstruments($event)" [value]="currentInstrument">
        <mat-option [value]="-1"> все </mat-option>
        <mat-option *ngFor="let instrument of instruments; let idx = index" [value]="idx">
          {{instrument.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <od-children-table-rating [childrens]="childrens"></od-children-table-rating>
    </ng-container>
<!--    <ng-container *ngIf="!userService.user">-->
<!--      <a class="text-center" routerLink="/auth/login"><h2>Авторизуйтесь, чтобы просмотреть банк данных одаренный детей</h2></a>-->
<!--    </ng-container>-->
  </div>
</div>
