<div class="outer-wrap-schools">
  <p class="title">Детсткие школы искусств Белгородской области</p>
  <div class="inner-wrap-schools">
    <div class="left">
      <ul>
        <li>Город Белгород</li>
        <li>Алексеевский район</li>
        <li>Белгородский район</li>
        <li>Борисовский район</li>
        <li>Волуйский район</li>
        <li>Вейделевский район</li>
        <li>Волоконовский район</li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="left">
      <ul>
        <li>Школа №1</li>
        <li>Школа №2</li>
        <li>Школа №3</li>
        <li>Школа №4</li>
        <li>Школа №5</li>
        <li>Школа №6</li>
        <li>Школа №7</li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="left">
      <ul>
        <li>Фортепиано</li>
        <li>Народные инструменты</li>
        <li>Духоваые инструменты</li>
        <li>Струнные смычковые инструменты</li>
        <li>Хореография</li>
        <li>Изобразительное искусство</li>
        <li>Хоровое пение, вокал</li>
      </ul>
    </div>
  </div>
</div>

