<mat-card class="outer-wrap-schools">
  <mat-form-field>
    <mat-select placeholder="Район" (valueChange)="updateSchools($event)" [value]="currentRegionId">
      <mat-option *ngFor="let region of regions" [value]="region._id">
        {{region.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card *ngFor="let school of currentSchools" [style.background-color]="school.type ? 'antiquewhite' : ''">
    <div mat-card-title>{{school.title}}</div>
    <div mat-card-content>({{school.address}})</div>
    <div style="margin-top: 10px;"><b>cайт: </b>{{school.site}}, <b>e-mail: </b>{{school.email}}</div>
    <div class="school-mainperson">
      <b>{{school.type == 1 ? 'Начальник' : 'Директор'}}: </b> {{school.mainPerson.name}}
      <div *ngIf="school.mainPerson.stationary"><b>тел.</b> {{school.mainPerson.stationary}}</div>
    </div>
  </mat-card>
</mat-card>

